.subheadText {
  font-family: var(--font-sub);
}

.headText {
  font-weight: 600;
}

.loginInsteadButton {
  padding: 0.2rem 0;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: var(--on-background700);
  width: fit-content;
}

.loginInsteadButton:hover {
  color: var(--on-background);
}

.NextButton {
  width: 100%;
  margin-bottom: 0.2rem;
}

.typographyHolder {
  margin-bottom: 3rem;
}

.inputsHolder {
  margin-bottom: 2rem;
}

.inputsHolder {
  margin-bottom: 1.5rem;
}

.forgetPasswordFormEmailInput {
  margin-bottom: 0.6rem;
}

.buttonHolder {
  width: 100%;
}
