.button {
  --main: var(----primary-container);
  --onMain: var(--primary-container);
  --onMain500: var(--primary-container500);
  --onMain200: var(--primary-container200);

  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  background-color: var(--main);
  color: var(--onMain);
  cursor: pointer;
  font-size: var(--titleMedium);
  font-weight: 700;
  font-family: var(--font-sub);
  box-shadow: var(--shadow1dp);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
}

.button svg {
  fill: var(--onMain);
}

.leftIcon {
  margin-right: 0.5rem;
}

.rightIcon {
  margin-left: 0.5rem;
}

.button:hover {
  background-color: var(--onMain);
  color: var(--main);
}

.button:hover svg {
  fill: var(--main);
}

.button:hover span {
  border-top: 3px solid var(--main);
}

.button:active {
  box-shadow: none;
}

.button:disabled {
  background-color: var(--on-background500);
  color: var(--on-background800);
  cursor: not-allowed;
}

.button:disabled span {
  border-top: 3px solid var(--on-background800);
}

.button:disabled svg {
  fill: var(--on-background800);
}
.button:disabled:hover svg {
  fill: var(--on-background800);
}

.button:disabled:hover {
  background-color: var(--on-background500);
}
.button:disabled:active {
  box-shadow: var(--shadow3dp);
}

.contained {
  background-color: var(--main);
  color: var(--onMain);
}

.shadow {
  box-shadow: none;
  background-color: transparent;
  color: var(--onMain);
}

.shadow:hover {
  box-shadow: none;
  background-color: var(--onMain200);
  color: var(--onMain);
}

.shadow:hover svg {
  fill: var(--onMain);
}

.shadow:active {
  box-shadow: none;
  background-color: var(--onMain500);
  color: var(--onMain);
}

.outlined {
  border: 2px solid var(--onMain);
  background-color: transparent;
  color: var(--onMain);
  box-shadow: none;
}

.outlined:hover {
  border: 2px solid var(--onMain);
  background-color: var(--onMain200);
  color: var(--onMain);
  box-shadow: none;
}

.outlined:hover svg {
  fill: var(--onMain);
}

.outlined:active {
  background-color: var(--onMain500);
}

.primary {
  --main: var(--primary-container);
  --onMain: var(--on-primary-container);
  --onMain500: var(--on-primary-container500);
  --onMain200: var(--on-primary-container200);
}
.secondary {
  --main: var(--secondary-container);
  --onMain: var(--on-secondary-container);
  --onMain500: var(--on-secondary-container500);
  --onMain200: var(--on-secondary-container200);
}

.tertiary {
  --main: var(--tertiaryCon);
  --onMain: var(--tertiaryOnCon);
  --onMain500: var(--tertiaryOnCon500);
  --onMain200: var(--tertiaryOnCon200);
}

.error {
  --main: var(--error);
  --onMain: var(--on-error);
  --onMain500: var(--on-error500);
  --onMain200: var(--on-error200);
}
