.holder {
  position: relative;
}

.holder svg {
  fill: var(--on-background600);
  cursor: pointer;
}
.holder svg:hover {
  fill: var(--on-background);
}

.itemHolder {
  background-color: var(--on-background);
  padding: 0.2rem;
  position: absolute;
  width: max-content;
  right: 0;
  border-radius: 5px;
}

.item {
  color: var(--background);
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
}

.item:hover {
  background-color: var(--on-background600);
}
