.holder {
  display: flex;
  width: 100%;
  justify-content: center;
}

.otpInput {
  width: 30px;
  font-size: var(--titleLarge);
  text-align: center;
  padding: 0.5rem;
  margin: 0px 8px;
  border-radius: 6px;
  box-shadow: none;
  border: 1px solid var(--on-background300);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--on-background800);
}

.otpInput:focus {
  background-color: var(--primary-container400);
  color: var(--on-primary-container);
  outline: none;
}
