.typography {
  color: var(--onBg);
}

.displayLarge {
  font-size: var(--displayLarge);
  line-height: var(--displayLarge_lineHeight);
  font-weight: 400;
  font-family: var(--font-head);
}

.displayMedium {
  font-size: var(--displayMedium);
  line-height: var(--displayMedium_lineHeight);
  font-weight: 400;
  font-family: var(--font-head);
}

.displaySmall {
  font-size: var(--displaySmall);
  line-height: var(--displaySmall_lineHeight);
  font-weight: 400;
  font-family: var(--font-head);
}

.headlineLarge {
  font-size: var(--headlineLarge);
  line-height: var(--headlineLarge_lineHeight);
  font-weight: 400;
  font-family: var(--font-head);
}

.headlineMedium {
  font-size: var(--headlineMedium);
  line-height: var(--headlineMedium_lineHeight);
  font-weight: 400;
  font-family: var(--font-head);
}

.headlineSmall {
  font-size: var(--headlineSmall);
  line-height: var(--headlineSmall_lineHeight);
  font-weight: 400;
  font-family: var(--font-head);
}

.titleLarge {
  font-size: var(--titleLarge);
  line-height: var(--titleLarge_lineHeight);
  font-weight: 400;
  font-family: var(--font-head);
}

.titleMedium {
  font-size: var(--titleMedium);
  line-height: var(--titleMedium_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}

.titleSmall {
  font-size: var(--titleSmall);
  line-height: var(--titleSmall_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}

.bodyLarge {
  font-size: var(--bodyLarge);
  line-height: var(--bodyLarge_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}

.bodyMedium {
  font-size: var(--bodyMedium);
  line-height: var(--bodyMedium_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}

.bodySmall {
  font-size: var(--bodySmall);
  line-height: var(--bodySmall_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}

.labelLarge {
  font-size: var(--labelLarge);
  line-height: var(--labelLarge_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}

.labelMedium {
  font-size: var(--labelMedium);
  line-height: var(--labelMedium_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}
.labelSmall {
  font-size: var(--labelSmall);
  line-height: var(--labelSmall_lineHeight);
  font-weight: 400;
  font-family: var(--font-sub);
}
