.holder {
  width: 100%;
}

.headText {
  font-size: var(--headlineMedium);
  line-height: var(--headlineMedium_lineHeight);
  font-weight: 600;
  color: var(--on-background);
  padding: 0.5rem 0;
}

.information {
  margin-bottom: 1rem;
}

.informationItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--on-background100);
}

.informationItems > p:nth-child(1) {
  font-size: var(--titleMedium);
  line-height: var(--titleMedium_lineHeight);
  color: var(--on-background900);
  font-weight: 500;
}

.informationItems > p:nth-child(2) {
  font-size: var(--titleMedium);
  line-height: var(--titleMedium_lineHeight);
  color: var(--on-background);
  font-weight: 600;
}

.address {
  margin-bottom: 1rem;
}
