.holder {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.holder label {
  font-size: var(--titleSmall);
  color: var(--on-background800);
  font-family: var(--font-sub);
  font-weight: 500;
  padding: 0.4rem 0;
}

.inputHolder {
  position: relative;
  width: 100%;
}
.holder input {
  border: 2px solid var(--outline-variant);
  padding: 0.5rem 0.8rem 0.5rem 2.5rem;
  background-color: transparent;
  border-radius: 8px;
  font-size: var(--titleSmall);
  font-weight: 600;
  width: 100%;
  color: var(--on-background900);
}

.holder input:focus {
  outline: none;
  background-color: var(--primary-container300);
  outline-offset: 2px;
  color: var(--on-primary-container);
  border: 2px solid var(--outline);
}

.holder svg {
  position: absolute;
  left: 1rem;

  top: 50%;
  bottom: 50%;
  transform: translate(-40%, -55%);
  fill: var(--on-background600);
}
